<link type="text/css" rel="stylesheet" media="all" href="others/navigation-bar/styles.css" />

<!--<script type="text/javascript" src="others/navigation-bar/lavalamp.js"></script>-->

<div>
    <h1 style="font: 36px 'Cookie', cursive; color: white; width: 210px; margin: 20px auto 30px; white-space: nowrap; text-align: center;">Page Header</h1>
    <div style="background-color: white; height: 1px; width: 100%; margin-bottom: 20px;"/>
</div>

<div class="lavalamp" >

    <ul class="menu-ul">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/picture">Picture</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Portfolio</a></li>

        <li><a href="">Contacts</a></li>
        <li><a href="">Back to Article</a></li>
        <li><a href="">How it Works?</a></li>
    </ul>

    <!--<div class="floatr"></div>-->

</div>